body {
    font-family: Arial, sans-serif;
}

.app-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #30d3ec;
    border-radius: 10px;
    background-color: #30d3ec;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input,
select,
button {
    margin: 5px 0;
    padding: 10px;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters button {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background-color: #f34545;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
}